.lk {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-heading {
    margin: 20px;
    font-size: 24px;
    letter-spacing: 2px;
  }

  &-tabs {
    display: flex;
    &__tab {
      cursor: pointer;
      margin: 10px;
      color: #dcdcdc;
      padding: 0 0 5px 0;
      border-bottom: 1px solid #dcdcdc;

      &:hover {
        color: #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
      }
    }
  }

  &-personsRow {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      width: 600px;
      border-radius: 4px;

      &:nth-child(odd) {
        background-color: #eee;
      }

      &__name {
        margin: 0 15px;
        width: 200px;
      }

      &__options {
        padding: 3px;
        margin: 10px 15px;
      }
    }
  }
  .form {
    &_input {
      border: 1px solid #ededed;
      border-radius: 4px;
      width: 450px;
      min-height: 40px;
      margin-bottom: 15px;

      &_text {
        padding-left: 10px;
      }
      &_avatar {
        &__label {
          width: 450px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 15px;
          border: 1px solid #ededed;
          border-radius: 4px;
          padding: 5px;

          &:hover {
            border-color: hsl(0, 0%, 70%);
          }
        }
        &__input {
          display: none;
        }
        &__picture {
          width: 50px;
          height: 50px;
        }
      }
      &_datepicker {
        padding-left: 10px;
      }

      &:hover {
        border-color: hsl(0, 0%, 70%);
      }
    }
  }
  .form-group {
    display: flex;
    justify-content: center;

    &__btn {
      border: 1px solid #ededed;
      border-radius: 10px;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
