@import './normalize/index.scss';
@import './global/mainPage.scss';
@import './global/logInPage.scss';
@import './layout/header.scss';
@import './layout/footer.scss';


// settings 
body {
    background-color: #ededed;
    font-family: Roboto;
    color: #222222;
}

main {
    min-height: 75vh;
}
