@import './normalize/index.scss';
@import './global/mainPage.scss';
@import './global/logInPage.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './global/profilePage.scss';


// settings 
body {
    background-color: #F4F9E2;
    font-family: Roboto, serif;
    color: #22356F;
}

main {
    min-height: 80vh;
}
