.header {
    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    position: relative;

    &-title {
        text-align: center;
        font-size: 2vw;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: Roboto;
    }

    &-admin__link {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}