.header {
  width: 100%;
  background-color: #eee;
  padding: 24px;
  position: relative;

  &-backLink {
    position: absolute;
    top: 10px;
    left: 10px;
    &:hover {
      color: #ffae00;
    }
  }

  &-title {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Roboto, serif;
  }

  &-adminLink {
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      color: #ffae00;

    }
  }

  @media (max-width: 500px) {
    &-admin__link {
      top: 50px;
    }
  }
}